<div id="embed_parent"></div>

{% schema %}
  {
    "name": "Countdown Timer",
    "target": "body",
    "stylesheet": "timer_embed.css",
    "javascript": "timer_embed.js",
    "settings": []
  }
{% endschema %}